<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand white-title" href="#">Intranet</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li><a class="title" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                {% else %}
                    <li><a class="title" href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                {% endif %}
                <li><a class="title" href="{{ path('fos_user_registration_register') }}">S'enregistrer</a></li>
                <li><a class="title" href="{{ path('formation') }}">Formation</a></li>
                <li><a class="title" href="{{ path('cursus') }}">Cursus</a></li>
                <li><a class="title" href="{{ path('matiere') }}">Matière</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETARY') %}
                    <li><a class="title" href="{{ path('user') }}">Utilisateurs</a></li>
                {% endif %}
                <!-- Other li here -->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>