{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
         <h1>Modifier une Matière</h1>
    </div>
    <div class="panel-body">
        
        {{ form(edit_form) }}

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Ajouter un professeur à cette matière</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th></th>
            </tr>
        </thead>
        {% for prof in profs %}
        <tr>
            <td>{{ prof.id }}</td>
            <td>{{ prof.user.nom }}</td>
            <td>{{ prof.user.prenom }}</td>
            <td><a href="{{ path('matiere_add_prof', { 'matiereId': entity.id, 'profId': prof.id }) }}" class="btn btn-sm btn-warning">Ajouter</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
