{% extends '::base.html.twig' %}

{% block body -%}
<a class="btn btn-success" href="{{ path('matiere_new') }}">Ajouter une matière</a>
<br /><br />
<div class="panel panel-default">
    <div class="panel-heading"><strong>Les matières</strong></div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Coefficient</th>
                <th>Description</th>
                <th></th>    
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('matiere_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.coefficient }}</td>
                <td>{{ entity.description }}</td>
                <td>
                    <a class="pull-right glyphicon glyphicon-edit" href="{{ path('matiere_show', { 'id': entity.id }) }}"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
