{% extends '::base.html.twig' %}

{% block body -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-primary clearfix">Cursus n°{{entity.id}}<a class="btn btn-success btn-sm pull-right " href="{{ path('cursus_edit', { 'id': entity.id }) }}">Éditer</a></h2>
    </div>
     <div class="panel-body">
        <ul class="list-unstyled">
            <li>Date de debut : {{ entity.dateDebut|date("m/d/Y") }}</li>
            <li>Date de fin : {{ entity.dateFin|date("m/d/Y") }}</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <strong>
            <i class="glyphicon glyphicon-user margin-right"></i>
            Liste des matières du cursus
        </strong>
        <a href="{{ path('manage_cursus', { 'id': entity.id  }) }}" class="btn btn-success btn-sm pull-right ">
            Gérer
        </a>
    </div>
    
    {% if entity.matiere|length > 0 %}

     <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Thématique</th>
                <th>Nom</th>
                <th>Coefficient</th>
            </tr>
        </thead>
        <tbody>

            {% for matiere in entity.matiere  %}
                <tr>
                    <td>{{ matiere.id }}</td>
                    <td>{{ matiere.thematique.nom }}</td>
                    <td>{{ matiere.nom }}</td>
                    <td>{{ matiere.coefficient }}</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    {% else %}
    <div class="panel-body">
        <p>Aucune Matière</p>
    </div>
    {% endif %}
</div>
<a href="{{ path('cursus') }}"><strong><i class="glyphicon glyphicon-arrow-left"></i>
Revenir à la liste</strong></a>
{% endblock %}
