{% extends '::base.html.twig' %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
             <h1>Modifier une formation</h1>
        </div>

        <div class="panel-body">
            {{ form_start(edit_form) }}
            <div class="form-group">
                {{ form_errors(edit_form)}}
            </div>
            <div class="form-group">
                Nom
                {{ form_widget(edit_form.nom) }}
            </div>
            <div class="form-group">
                Descriptif
                {{ form_widget(edit_form.descriptif) }}
            </div>
            <div class="form-group">
                critere
                {{ form_widget(edit_form.critere) }}
            </div>
            <div class="form-group">
                Secretaire de formation
                {{ form_widget(edit_form.secretaireFormation) }}
            </div>
            <div class="form-group">
                {{ form_row(edit_form.submit) }}
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
    <a class="btn btn-default" href="{{ path('formation_show', { 'id': entity.id }) }}">Annuler</a></h2>
{% endblock %}
