{% extends '::base.html.twig' %}

{% block body -%}
{% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-success" href="{{ path('formation_new') }}">Ajouter une formation</a>
{% endif %}
<br /><br />
<div class="panel panel-default">
    <div class="panel-heading"><strong>Les formation</strong></div>

    {% if entities|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Descriptif</th>
                    <th>Secretaire formation</th>
                    <th>Critère d'acceptation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.nom }}</td>
                    <td>{{ entity.descriptif }}</td>
                    <td>{{ entity.secretaireformation.user.username }}</td>
                    <td>{{ entity.critere }}</td>
                    <td>
                        <div class="pull-right">
                            <a class="glyphicon glyphicon-edit" href="{{ path('formation_show', { 'id': entity.id }) }}"></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <div class="panel-body">
            <p> Aucune formation actuellement </p>
        </div>
    {% endif %}
</div>
{% endblock %}