{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ajouter une formation</h1>
	<div class="panel panel-default">
		<div class="panel-body">
    	{{ form_start(form) }}
		<div class="form-group">
			{{ form_errors(form)}}
		</div>
		<div class="form-group">
			Nom
			{{ form_widget(form.nom)}}
		</div>
		<div class="form-group">
			Description
			{{ form_widget(form.descriptif)}}
		</div>
                <div class="form-group">
			Critère d'acceptation
			{{ form_widget(form.critere)}}
		</div>
		<div class="form-group">
			Responsable
			{{ form_widget(form.secretaireFormation)}}
		</div>
		<div class="form-group">
			{{ form_row(form.submit) }}
		</div>
			{{ form_end(form) }}
        <a class="btn btn-default" href="{{ path('formation') }}">
            Retourner à la liste
        </a>

     </div>


{% endblock %}
