{% extends '::base.html.twig' %}

{% block body -%}
        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="text-primary clearfix">Formation : {{entity.nom}}<a class="btn btn-success btn-sm pull-right " href="{{ path('formation_edit', { 'id': entity.id }) }}">Éditer</a></h2>
            
        </div>
         <div class="panel-body">
            <ul class="list-unstyled">
                <li># : {{entity.id}}</li>
                <li>Description : {{ entity.descriptif }}</li>
                <li>Critère :
                    {% if entity.critere|length > 0  %}
                        {{entity.critere}}
                    {% else %}
                        Aucun Critère pour cette formation
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Les cursus</div>
            
            {% if cursus|length > 0 %}
            <ul class="list-group">
            {% for oneCursus in cursus %}
                <li class="list-group-item">{{oneCursus.dateDebut|date("m/d/Y")}} au {{oneCursus.dateFin|date("m/d/Y")}}</li>
            {% endfor %}
            </ul>
            {% else %}
            <div class="panel-boy"><p> Aucun cursus pour cette formation </p></div>
            {% endif %}

    </div>
    
    <a href="{{ path('formation') }}"><span class="glyphicon glyphicon-arrow-left"></span> Revenir aux formations</a>
    
{% endblock %}
