{% extends '::base.html.twig' %}

{% block body -%}
<a class="btn btn-success" href="{{ path('promotion_new') }}">Ajouter une promotion</a>
<br /><br />
<div class="panel panel-default">
    <div class="panel-heading"><strong>Les Promotions</strong></div>
    {% if entities|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom formation</th>
                <th>Cursus</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {{entity.id}}
                </td>
                <td>
                    <a href="{{ path('promotion_get_by_formation', { 'id': entity.cursus.formation.id  }) }}">
                    {{ entity.cursus.formation.nom }}
                    </a></td>
                <td>{{ entity.cursus.dateDebut|date("m/d/Y") }} au {{entity.cursus.dateFin|date("m/d/Y")}}</td>
                <td>
                    <div class="pull-right">
                        <a class="glyphicon glyphicon-edit" href="{{ path('promotion_show', { 'id': entity.id }) }}"></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="panel-body">
            <p> Aucune promotion actuellement </p>
        </div>
    {% endif %}
</div>
    
    {% if returnBtn %}
        
        <a href="{{ path('promotion') }}"><strong><i class="glyphicon glyphicon-arrow-left"></i>
            Revenir à la liste</strong></a>

    {% endif %}

    {% endblock %}
